/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}body {line-height: 1;}ol, ul {list-style: none;}blockquote, q {quotes: none;}blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;}table {border-collapse: collapse;border-spacing: 0;}

// Colors
$pink: #f0a58a;
$orange: #e7663c;
$orange_dark: #a84b2c;
$teal: #24cebb;
$teal_dark: #199083;
$black: #202424;
$grey: #4e4d4c;

$page_bg: #fff;
$base_text: $grey;
$base_link: $teal;
$link_hover: $teal_dark;

$baseline: 25px;
$section_gap: $baseline * 6; /* 150px */
$short_gap: $baseline * 4; /* 100px */
$primary_margin: 130px / 1280px * 100%;

html,
body {
    margin: 0;
    padding: 0;
    background: #fff;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    color: #4e4d4c;
}

h1, h2, h3 {
    text-rendering: optimizeLegibility;
}

img {
    display: block;
    max-width: 100%;
}

.block {
    overflow: hidden;
    margin-top: 0px;
    margin-bottom: $section_gap;

    &.bio_contact {
        margin-bottom: 90px;
    }

    &.short_block {
        margin-top: -1 * $short_gap;
    }
}

h1 {
    font-size: 38px;
    font-weight: 800;
    line-height: 1.2;
    color: $black;
}

h2 {
    margin-bottom: $baseline;
    font-size: 26px;
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: -0.7px;
    color: $black;
}

h3 {
    margin-bottom: $baseline;
    font-size: 22px;
    line-height: 1;
    font-weight: 400;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: -0.77px;
    color: $orange;
}

h4 {
    margin: $baseline/2 0 $baseline;
    font-size: 16px;
    line-height: 1;
    font-weight: 600;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: -0.47px;
    color: $pink;
}

.nav {
    height: 30px;
    padding: 15px $baseline;
    overflow: hidden;

    .logo {
        float: left;
        width: 18px;
        margin-right: $baseline;
    }

    .breadcrumb {
        float: left;
        font-size: 16px;
        font-weight: 400;
        line-height: 2;
    }

    .back_link {
        width: 200px;
        float: right;
        text-align: right;
    }
}

.subtitle,
.hero_contact {
    font-size: 28px;
    font-weight: 300;
    letter-spacing: -0.7px;
}

.subtitle{
    margin-top: $baseline;
    color: $grey;
}

p.text {
    margin-bottom: $baseline;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    color: $grey;
}

p.article_text {
    margin-bottom: $baseline;
    font-size: 16px;
    line-height: 1.5;
}

ul.styled,
ol.styled {
    margin-top: $baseline;
    padding-left: 18px;
    list-style-type: disc;

    li {
        padding-left: 10px;
        margin-bottom: $baseline / 2;
        font-size: 16px;
        line-height: 1.5;
    }

    &.sml {
        padding-left: 10px;

        li {
            font-size: 14px;
        }
    }
}

ol.styled {
    list-style-type: decimal;
}

ul.link_list {
    li {
        margin-bottom: 5px;
    }
}

a {
    -webkit-transition: color 0.2s ease-out;
    -moz-transition: color 0.2s ease-out;
    -o-transition: color 0.2s ease-out;
    -ms-transition: color 0.2s ease-out;
    transition: color 0.2s ease-out;
    text-decoration: none;
    color: $base_link;

    &.arrow_link {
        display: inline-block;
        padding: 3px 35px 4px 0;
        background-image: url(/assets/images/icon/ui/primary-text-arrow.svg);
        background-position: top right;
        background-repeat: no-repeat;
        background-size: 28px 28px;

        &.hero_contact {
            padding: 2px 55px 5px 0;
            background-size: 46px 46px;
        }

        &:hover {
            background-image: url(/assets/images/icon/ui/primary-text-arrow-hover.svg);
        }

        &.back_link {
            background-image: url(/assets/images/icon/ui/back-link-arrow.svg);

            &:hover {
                background-image: url(/assets/images/icon/ui/back-link-arrow-hover.svg);
            }
        }
    }
}

a:hover {
    color: $link_hover;
}

a.btn {
    display: inline-block;
    padding: 20px 60px;
    background: $teal;
    border-radius: 5px;
    font-size: 18px;
    line-height: 1;
    font-weight: 800;
    color: #fff;

    &:hover {
        background: $teal_dark;
    }
}

.hero,
.nonblock_content,
.d_form,
.d_form .a_col {
    padding-left: $primary_margin;
    padding-right: $primary_margin;
}

.hero {
    margin-top: $baseline * 2;

    .logo {
        width: 40px;
        margin-bottom: $baseline * 2;
    }
}

.nonblock_content {
    margin-bottom: $section_gap / 2;
}

.case_study_header_container {
    overflow: hidden;
    margin-bottom: $section_gap / 2;

    &.orange {
        border-top: 5px solid $teal;

        .case_study_header {
            border-top: 5px solid $pink;
        }
    }

    &.pink {
        border-top: 5px solid $teal;
        
        .case_study_header {
            border-top: 5px solid $orange;
        }
    }

    &.teal {
        border-top: 5px solid $orange;

        .case_study_header {
            border-top: 5px solid $pink;
        }
    }
}

.case_study_header {
    min-height: 490px;
    background-size: 100% auto;

    h1 {
        width: 54.6875%; /* 700/1280 */
        min-width: 400px;
        margin-top: 225px;
        margin-bottom: $baseline;
        margin-left: $primary_margin;
        color: #fff;
    }

    .summary {
        width: 54.6875%; /* 700/1280 */
        min-width: 400px;
        margin-left: $primary_margin;
        font-size: 16px;
        line-height: 1.5;
        color: #fff;
    }

    &.profile_case_study {
        background-image: url(/assets/images/case_study/profile/hero.jpg);
    }

    &.brand_case_study {
        background-image: url(/assets/images/case_study/brand/hero.jpg);
    }

    &.nav_case_study {
        background-image: url(/assets/images/case_study/nav/hero.jpg);
    }
}

.case_study_overview {
    .a_col {
        float: left;
        width: 54.6875%; /* 700/1280 */
        margin-left: $primary_margin;
        margin-right: 6.25%; /* 80/1280 */
    }

    .b_col {
        float: left;
        width: 17.1875%; /* 220/1280 */
    }
}

.a_form {
    .a_col {
        margin-bottom: $baseline;
        padding: $baseline 0;
        background-color: #f1f1f1;

        img {
            width: 54.6875%; /* 700/1280 */
            margin: 0 auto;
        }

        &.orange_emphasis {
          background: $orange;
          background: -webkit-linear-gradient(left top, #f0a58a, $orange);
          background: -o-linear-gradient(bottom right, #f0a58a, $orange);
          background: -moz-linear-gradient(bottom right, #f0a58a, $orange);
          background: linear-gradient(to bottom right, #f0a58a, $orange);
        }

        &.teal_emphasis {
          background: $teal;
          background: -webkit-linear-gradient(left top, #85e6dc, $teal);
          background: -o-linear-gradient(bottom right, #85e6dc, $teal);
          background: -moz-linear-gradient(bottom right, #85e6dc, $teal);
          background: linear-gradient(to bottom right, #85e6dc, $teal);
        }
    }

    .b_col {
        width: 54.6875%; /* 700/1280 */
        margin: 0 auto;
    }
}

.b_form {
    .a_col,
    .b_col {
        float: left;
    }

    .a_col {
        /*max-width: 490px;*/
        width: 38.28125%; /* 490/1280 */
        margin-left: $primary_margin;
    }

    .b_col {
        width: 31.25%; /* 400/1280 */
        margin-top: 10%;
        margin-left: $primary_margin;

        &.align_nudged {
            margin-top: 5%;
        }

        &.align_top {
            margin-top: 0;
        }
    }
}

.c_form {
    .a_col {
        height: 475px;
        margin-bottom: 40px;
        background-image: url(/assets/images/feature/vimeo/wide.jpg);
        background-position: top center;
        background-size: 1600px 475px;
        background-repeat: no-repeat;
    }

    .b_col {
        margin-left: 16%;
        margin-right: 16%;
        overflow: hidden;
    }

    .b_col_double {
        margin-left: $primary_margin;
        margin-right: $primary_margin;
        overflow: hidden;
    }

    .title {
        float: left;
        width: 11%;
        max-width: 117px;
        margin-right: 5%;
        margin-top: 35px;
    }

    .copy {
        float: left;
        width: 81%;
    }

    .placeholder {
        height: 375px;
        background-color: #f3f3f3;
    }
}

.d_form {
    .a_col {
        margin-bottom:  $baseline;
    }

    .b_col {
        width: 54.6875%; /* 700/1280 */
        margin: 0 auto;
    }
}

.e_form {
    .a_col {
        float: left;
        width: 50%;
        background: #f1f1f1;
        margin-right: $primary_margin;
        padding: $baseline 0;

        .img_container {
            width: 62.5%; /* 400/640 */
            margin: $baseline auto;
        }
    }

    .b_col {
        float: left;
        width: 31.25%; /* 400/1280 */
        margin-top: 10%;
    }
}

.lead {
    float: left;
    width: 60%;
    margin-right: 10%;
}

.secondary {
    float: left;
    width: 28%;
}

.bio_contact {
    .a_col,
    .b_col {
        float: left;
        width: 31.25%; /* 400/1280 */
    }

    .a_col {
        margin-left: 15.625%; /* 200/1280 */
        margin-right: 6.25%; /* 80/1280 */
        clear: left;

        .hr {
            display: block;
            margin: $baseline 0;
        }
    }

    .b_col {
        /*max-width: 550px;*/

        .bauhaus {
            display: block;
            height: 5px;
        }

        .fib1 {
            float: left;
            width: 14.7272727%;
            height: 100%;
            background-color: $pink;
        }

        .fib2 {
            float: left;
            width: 23.4545455%;
            height: 100%;
            background-color: $orange;
        }

        .fib3 {
            float: left;
            width: 61.8181818%;
            height: 100%;
            background-color: $teal;
        }
    }
}

.social {
    margin-top: $baseline;

    li {
        display: inline-block;
        width: 9%;
        margin-right: 2%;

        a {
            svg {
                display: block;
                max-width: 25px;
                margin: 0 auto;
                -webkit-transition: color 0.2s ease-out;
                -moz-transition: color 0.2s ease-out;
                -o-transition: color 0.2s ease-out;
                -ms-transition: color 0.2s ease-out;
                transition: color 0.2s ease-out;
                fill: $grey;
            }

            &:hover {
                svg {
                    fill: $teal;
                }
            }
        }
    }
}

/* iPad */
@media only screen and (max-width: 1024px) {
    .a_form {
        margin-left: 0;
        margin-right: 0;
    }

    .c_form {
        .a_col {
            height: 375px;
            background-size: 1263px 375px;
            background-position: -200px 0;
        }

        .title {
            float: none;
            width: 117px;
            margin: 0 0 20px 0;
        }

        .copy {
            float: none;
            width: 100%;
        }
    }

    .bio_contact {
        margin-left: 8%;
        margin-right: 8%;
    }
}

/* iPhone */
@media only screen and (max-width: 736px) {
    h1 {
        font-size: 30px;
    }

    .subtitle, .hero_contact {
        font-size: 24px;
    }

    a.arrow_link.hero_contact {
        padding-right: 50px;
        background-size: 40px 40px;
    }

    .block {
        margin-bottom: 50px;
    }

    .a_form, .b_form {
        margin-left: 0;
        margin-right: 0;
    }

    .a_form, .b_form, .c_form, .bio_contact {
        .a_col {
            width: 100%;
            float: none;
            margin-right: 0;
            margin-left: 0;
        }

        .b_col {
            width: auto;
            float: none;
            margin-left: 8%;
            margin-right: 8%;
        }

        .title {
            float: none;
            width: 117px;
            margin: 0 0 20px 0;
        }

        .copy {
            float: none;
            width: 100%;
        }
    }

    .c_form .a_col {
        height: 195px;
        background-size: 657px 195px;
        background-position: -160px 0;
    }

    .bio_contact {
        margin-left: 8%;
        margin-right: 8%;
        padding-top: 230px;
        padding-bottom: 40px;
        background-image: url(/assets/images/feature/bio/JD1.jpg);
        background-position: 0 0;
        background-size: 315px 210px;
        background-repeat: no-repeat;

        .b_col {
            display: none;
        }
    }
}

@media only screen and (max-width: 736px) {
    .hero {
        margin-top: 30px;
        margin-left: 8%;
        margin-right: 8%;

        .logo {
            width: 26px;
            margin-bottom: 30px;
        }
    }

    h1 {
        font-size: 22px;
    }

    h2 {
        font-size: 26px;
    }

    .subtitle, .hero_contact {
        line-height: 1.4;
        font-size: 18px;
    }

    a.arrow_link.hero_contact {
        padding-right: 40px;
        background-size: 32px 32px;
    }
}